@import url('https://fonts.googleapis.com/css?family=Cormorant:400,600');

*{
  font-family: 'Cormorant', serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.App{
  position: relative;
  width: 80%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.one-poem{
  margin-top: 5vh;
}
.poem-week{
  text-align: center;
}
.poem-title{
  margin: 14vh 0 2rem 0;
}
h1{
  font-size: 2.4rem;
}
h3{
  font-weight: 600;
  font-size: 1.5rem;
}
p{
  font-size: 1.5rem;
  line-height: 1.5;
}
.random-button{
  position: absolute;
  bottom: 2rem;
  padding: 1rem;
  background-color: black;
  color: white;
  cursor: pointer;
}
.left-button{
  position: absolute;
  left: 0;
  top: 50vh;
  cursor: pointer;
}
.right-button{
  position: absolute;
  right: 0;
  top: 50vh;
  cursor: pointer;
}

@media only screen and (max-width: 700px){
  .App{
    width: 95%;
  }
  p, h3{
    font-size: 1.3rem;
  }
}